<template>
  <div class="basicInfo-table">
    <div class="user-avatar">
      <img class="avatar-img" :src="data.headPic">
      <div>{{ data.nickname }}</div>
    </div>
    <div v-for="(ds, idx) in dataForRender" :key="idx" class="otherInfo-col">
      <div v-for="(item, index) in ds" :key="index" class="otherInfo-item" :style="{flex: `1 1 ${heightPercent * 100}%`}">
        <div class="otherInfo-label">{{ item.label }}</div>
        <div class="otherInfo-value">{{ item.transform ? item.transform(item.value) : item.value }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BasicInfoTable',
  props: {
    data: {
      type: Array,
      required: true
    },
    oneLineItemNum: {
      type: Number,
      default: 4
    }
  },
  created () {
    this.dataForRender = this.handle(this.data)
  },
  data () {
    return {
      dataForRender: [],
      heightPercent: 1 / this.oneLineItemNum
    }
  },
  methods: {
    handle (data) {
      data = data.slice()
      const n = this.oneLineItemNum
      const dataForRenderLenth = Math.ceil(data.length / n)
      const remain = n - data.length % n
      const dataForRender = []

      data = data.concat(new Array(remain).fill({}))

      for (let i = 0; i < dataForRenderLenth; i++) {
        dataForRender.push(data.slice(i * n, (i + 1) * n))
      }

      return dataForRender
    }
  }
}
</script>

<style lang="less" scoped>
.basicInfo-table {
  height: 214px;
  border: 1px solid rgba(232, 232, 232, 1);
  border-right: none;
  display: flex;
  .user-avatar {
    flex: 0 0 240px;
    height: 100%;
    border-right: 1px solid rgba(232, 232, 232, 1);
    background: rgba(250, 250, 250, 1);
    text-align: center;
    padding-top: 49px;

    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    img {
      width: 88px;
      height: 88px;
      background: rgba(204, 204, 204, 1);
      border-radius: 100%;
      margin-bottom: 8px;
    }
  }
  .otherInfo-col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .otherInfo-item {
      flex: 1 1 auto;
      display: flex;
      &:last-child {
        .otherInfo-label,
        .otherInfo-value {
          border-bottom: none;
        }
      }
      .otherInfo-label {
        flex: 0 0 45%;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
        background: rgba(250, 250, 250, 1);
      }
      .otherInfo-value {
        flex: 0 0 55%;
      }
      .otherInfo-label,
      .otherInfo-value {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        border-right: 1px solid rgba(232, 232, 232, 1);
        border-bottom: 1px solid rgba(232, 232, 232, 1);
      }
    }
  }
}
</style>
